<link rel="stylesheet" href="/css/header.css" type="text/css">
<div class="header">
  <div class="nav">
    <ul id="nav-top">
      <li class="logout only-when-logged-in"><a href="/logout">Logout</a></li>
      <li class="account only-when-logged-in"><a href="/profile">My Profile</a></li>
      <li class="sign-up"><a href="/sign-up">Sign Up</a></li>
      <li class="login"><a href="/login">Login</a></li>
    </ul>
  </div>
</div>
