  <div class="header-container">
    <h1 class="logo"><a href="/home">Dream Journal</a></h1>
    <nav class="nav-primary">
      <ul id="nav-list-group">
        <li class="about"><a href="/about"> About</a></li>
        <li class="login"><a href="/login">Login</a></li>
        <li class="sign-up"><a href="/sign-up">Sign Up</a></li>
        <li class="account only-when-logged-in"><a href="/profile">My Profile</a></li>
        <li class="logout only-when-logged-in"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
