<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  {{> header}}
  <body class="{{bodyClass}}">
    {{{body}}}

  {{> footer}}
  </body>
</html>
