<div class="about-container">
  <h1 class="about-header">About</h1>
  <div class="about-info">
    <p class="about-text">Dreamember is a platform to help make better people.</p>
    <ul>
      <li>Remember/Control Your Dreams</li>
      <li>Gain Insight From Dreams</li>
      <li>Controll your Dreams</li>
    </ul>
  </div>
</div>
