<form action="/dream/new" method="POST">
  <fieldset>
    <legend>New Dream</legend>
    <!--<select class="dream-type" name="">
      <option value="full">Full Dream</option>
      <option value="portion">Selection</option>
    </select>-->
    <label for="title">Title</label>
    <input type="text" name="title"><br>

    <label for="entry">Dream Entry:</label>
    <input type="text" name="entry"><br>

    <label for="tags">Tags</label>
    <input type="text" name="tags"><br>

    <input type="submit" value="Submit">
  </fieldset>
</form>
