<a href="/dream"><button type="button" name="button">Back to Dreams</button></a>
<h1 id="title {{dream.id}}">{{dream.title}}</h1>
<p>By: <span class="author">{{dream.author}}</span></p>
<p>Content: <br> {{dream.entry}}</p>
