
<a href="/dream"><button type="button" name="button">Back to Dreams</button></a>
<div class="container">
  <h1 id="dream-title {{dream.id}}">{{dream.title}}</h1>
  <p>By: <span class="author">{{dream.author}}</span></p>
  <p>Content: <br> {{dream.entry}}</p>
</div>
