<div class="dream-group">
  <h1 class="index-title">My Dreams</h1>
  <form class="dream-search" action="/dream/search" method="post">
    <input type="text" name="search" placeholder="Search by Tags, Title or Text">
    <button type="submit">Search</button>
  </form>
    {{> dreams}}
</div>
