<div class="main">
  {{#if user}}
  <div class="welcome-message only-when-logged-in">
    <!-- Pass in user to enter their name -->
    <h1> Welcome <span id="username">{{this._id}}</span></h1>
  </div>
<a href="/dream/new"><button type="button">Dream</button></a>
  {{/ if}}
  <h1>My Dreams</h1>
</div>
