<div class="login">
<fieldset class="form">
  <h1 class="form-signin-heading">Please sign in</h1>
    <form class="form-login" action="/login" method="POST">
      <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="username">
      </p>
      <p>
        <label for="password"> Password</label>
        <input type="password" id="password" name="password" placeholder="password">
      </p>
      <p><button type="submit">Login</button></p>
      <div class="status">{{message}}</div>
    </form>
  </fieldset>
</div>
