<div class="sign-up">
  <h1>Signup</h1>
  <form class="form-sign-up" action="/sign-up" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username">
    <label for="username">Password</label>
    <input type="password" name="password" placeholder="password">
    <button type="submit">Signup</button>
  </form>
</div>
