header::after {
  content: '';
  display: table;
  clear: both;
}
.site-header {
  border-bottom: 2px solid;
  top: 0;
  width: 100%;
}

.header-container {
	width: 80%;
	margin: 0 auto;
}

.logo {
  float: left;
  padding: 10px 0;
}

.logo > a {
  text-decoration: none;
  color: white;
  font-size: 32px;
}

nav.nav-primary {
  float: right;
}

nav.nav-primary ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.nav-primary li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav.nav-primary a {
  color: #C2B2B4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav.nav-primary a:hover {
  color: #000;
}

nav.nav-primary a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav.nav-primary a:hover::before {
  width: 100%;
}
