html {
    font-family: Gordita, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
  height: 100%;
  margin 0;
}
body {
  height: 100%
}
.banner-text h1 {
  width: 100%;
}
.banner-text button {
  display: block;
  margin-top: 100px;
 width: 100%;
}

body {
	margin: 0;
	font-weight: 400;
}

/* Site Container */
.site-container {
  position: absolute;
  width: 100%;
}
.banner {
  position: relative;
  margin: 0 auto;
  width: 80%;
  background-repeat: no-repeat;
}
.banner img {
  display:block;
  margin:auto;
  width: 80%;
}
fieldset {
  color: white;
}
.banner h1 {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  color: white;
  font-size: 40px;
}
.canvas {
  position: absolute;
  top: 0;
}
div.profile-container{
  width: 30%;
  margin: 0 auto;
}
div.profile-container h1 {
  font-size: 40px;
}
div.profile-container h1, p {
  color: white;
}
/* Main Header */
div.main {
  margin: 0 auto;
  height: 100%;
}
.search-input {
  width: 400px;
}
div.main .banner-text {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-size: 42px;
}
div.main .banner-text h1 {
    color: "#3BFB5AF"
}
div.main .index-title{
  border-bottom: 1px solid;
  font-size: 60px;

}

/* Login */
div.dream-group {
  padding-top: 30px ;
  padding-left: 50px;
  width: 75%;
}

div.dream-group .dream-list-group {
  display: inline;
}
.index-title {
  display: inline-block;
}
.dream-search {
  display: inline-block;
  float: right;
}

/* Dream items */
div.dream-item {
  padding: 5px;
  border-radius: 15px;
  background-color: #53687E;
  border-style: solid green;
  border-width: 2px;
  margin: 0 0 10px 10px;
}
div.dream-head h1 {
  font-size: 32px;
  display: inline-block;
}
div.dream-head p {
  display: inline-block;
}
div.dream-item #dream-entry {
  border: 1px solid;
}
div.tag-items li{
  display: inline-block;
}
div.main > .container {
  border-top: 1px solid;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin: 0 auto;
  text-align: left;
  padding: 5px;
  text-decoration: underline;

}

div.dream-item {
  box-sizing: border-box;
}
/* Change the link color to #111 (black) on hover */

div.tag-group #tags {
  display: inline-block;
}


/* Header COntainer */
.sign-in-form {
	background-color: rgba(245, 245, 245, 0.1);
	width: 350px;
	border: none;
	font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	color: #FFFFFF;
}

.form-signin-heading {
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-weight: normal;
}

.form-login {
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
}

fieldset.form{
  width: 400px;
  margin: auto;
  height: 350px;
  border: 1px solid;
}
form.dream-new {
  width: 30%;
  padding-top: 100px;
  margin: 0 auto;
}
form.dream-new legend {
  font-size: 30px;
}
.login .form h1 {
  font-size: 40px;
}
form label {
  font-size: 20px;
}
div.about-container {
  width: 50%;
  margin: auto;
  align-items: center;
}
div.about-container h1 {
  color: white;
  font-size: 40px;
}
div.about-container li {
  color: white;
}
div.about-container p {
  color: white;
}
div.about-container .about-info {
  border: 1px solid white;
}
input, button {
	padding: 15px 20px;
	margin-bottom: 20px;
  border-radius: 3px;
  font-size: 1rem;
}
div.login {
  margin: 0 auto;
  width: 50%;
  padding-top: 100px;

}
div.login a {
  align-self: auto;
}
div.login .form-signin-heading{
  text-align: center;
  align-self: center;
  margin: 0;
}
div.login img {
  position: absolute;
  left: 50%
  top: 0;
  max-width: 100%;
  max-height: 100%;
  margin-left: 0 auto;
}
div.login .form-login{

  margin: 0 auto;
  text-align: center;
}
div.sign-up {

  margin: 0 auto;
  width: 550px;
  height: 300px;
  margin-top: 100px;
  border: solid 1px white;
}
div.sign-up .header {
  font-size: 40px;
  color: white;
  align-self: center;
  text-align: center;
}

div.sign-up .form-sign-up {
  text-align: center;
  margin: 0 auto;
}

div.sign-up .form-sign-up label {
  font-size: 20px;
  color: white;
}

div.sign-up
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}


/* Create underline usnder the selected path */
body.home nav.nav-primary ul li.home { border-bottom: 1px solid #f0f; }
body.home li.home  { border-bottom-color: #f0f; }

body.posts nav.nav-primary ul li.posts { border-bottom: 1px solid #f0f; }
body.posts li.posts { border-bottom-color: #f0f; }

body.post-new nav.nav-primary ul li.post-new { border-bottom: 1px solid #f0f; }
body.post-new li.post-new  { border-bottom-color: #f0f; }

body.login nav.nav-primary ul li.login { border-bottom: 1px solid #f0f; }
body.login li.login {border-bottom-color: #f0f; }

body.sign-up nav.nav-primary ul li.sign-up { border-bottom: 1px solid #f0f; }
body.sign-up li.sign-up { border-bottom-color: #f0f; }

/*Creating a login */

body.loggedin li.login { display: none; }
body.loggedin li.sign-up { display: none; }

body.loggedin li.logout { display: inline-block; }
body:not(.loggedin) li.logout { display: none; }

body.loggedin .only-when-logged-in { display: auto }
body:not(.loggedin) .only-when-logged-in { display: none; }

body.loggedin .only-when-logged-in { display: auto }
body:not(.loggedin) .only-when-logged-in { display: none}
